.tr{
	border: 1px solid green;
	border-top-width: 5px ;
	float: left;
	padding: 12px;
	margin: 30px;
	width: 300px;
	height: 200px;
}
h1{
	color: red;
}
.infor{
    border-color: red;

}
.infor span{
	color: red;
}
    
    
}
.contact{
	border-color: blue;
	
}
.contact span{
	color: blue;
}
.office{
	border-color: #caca1e;
	
}
.office span{
	color: yellow;
}

